<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274806843437-2cngqmqj42fo8lc0j13ora032nfkvonq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274806843437-2cngqmqj42fo8lc0j13ora032nfkvonq</string>
	<key>API_KEY</key>
	<string>AIzaSyBlFipBoXSH1jT-UUpY9mbqXbIIj8MU3us</string>
	<key>GCM_SENDER_ID</key>
	<string>274806843437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mediapark.getwish</string>
	<key>PROJECT_ID</key>
	<string>getwish-e58bc</string>
	<key>STORAGE_BUCKET</key>
	<string>getwish-e58bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274806843437:ios:dc4023af8d6ab7a5a770a4</string>
</dict>
</plist>